<% ["春学期", "秋学期"].each do |s| %>
  <table>
    <tr>
      <th>
        <%= s %>
      </th>
      <% ["月", "火", "水", "木", "金"].each do |c| %>
        <th>
          <%= c %>
        </th>
      <% end %>
    </tr>
    <% ["1限", "2限", "3限", "4限", "5限", "6限"].each do |r| %>
      <tr>
        <td>
          <%= r %>
        </td>
        <% ["月", "火", "水", "木", "金"].each do |c| %>
          <td>
            <%= current_user.get_lecture(s, c, r) %>
            <br>
            詳細/編集
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>